@import "../../GlobalStyles/variables.module";

.btnPink {
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
  border-radius: 25px;
  background: $color-4;
  color: $color-1;
  font-size: $fontsize-label;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $color-5;
    transition: 300ms ease all;
  }
}
