@import "../../GlobalStyles/variables.module";

.customWrapper {
  position: relative;
  max-width: $cont-max-width;
  min-width: $cont-min-width;

  @media (min-width: $bpoint-tab) {
    // padding-left: $space;
    // padding-right: $space;
  }

  @media (min-width: $bpoint-desk) {
    max-width: $cont-max-width;
    margin: 0 auto;
  }
  @media (min-width: $bpoint-desk) {
    max-width: $cont-max-width;
    margin: 0 auto;
  }
}

.navBox {
  height: $space * 4;
  @media (min-width: $bpoint-tab) {
    height: $space * 3;
  }
}
.lng {
  position: absolute;
  right: $space;
  top: 0;
  margin: 0;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  color: $color-3;
  padding: $base-unit * 0.5;

  &_border {
    cursor: pointer;
    border-right: 1px solid $color-2;
    padding: $base-unit * 0.5;
  }
}
