@import "../../GlobalStyles/variables.module";

.navBox {
  height: $space * 4;
  @media (min-width: $bpoint-tab) {
    height: $space * 3;
  }
}
.lng {
  position: absolute;
  right: $space;
  top: 0;
  margin: 0;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  color: $color-3;
  padding: $base-unit * 0.5;

  &_border {
    cursor: pointer;
    border-right: 1px solid $color-2;
    padding: $base-unit * 0.5;
  }
}
