@import "../../GlobalStyles/variables.module";

.nav {
  text-align: right;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  color: $color-3;
  padding: $base-unit * 0.5;

  &_border {
    cursor: pointer;
    border-right: 1px solid $color-2;
    padding: $base-unit * 0.5;
  }
}
