@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,800&display=swap");
@import "./reset.module.scss";
@import "./variables.module";

html {
  scroll-behavior: smooth;
  font-size: $base-unit;
  font-family: $font-1;
  @media (max-width: $bpoint-mob) {
    font-size: 12px;
  }
  @media (min-width: $bpoint-desklg) {
    font-size: 24px;
  }

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-size: $font-size-body;
  font-family: $font-1;
  font-weight: $fw-normal;
  line-height: 1.4;
  color: $color-2;
  min-width: $cont-min-width;
  cursor: default;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0 $space;
}

small {
  font-size: 75%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
.h1 {
  font-size: $font-size-h1;
  margin-bottom: 0.5 * $space;
}
h2,
.h2 {
  font-size: $font-size-h2;
  margin-bottom: 0.5 * $space;
}
h3,
.h3 {
  font-size: $font-size-h3;
  margin-bottom: 0.5 * $space;
}
h4,
.h4 {
  font-size: $font-size-h4;
  margin-bottom: 0.5 * $space;
}

p {
  font-size: $font-size-body;
  margin: 0.5 * $space 0;
}
input {
  font-family: $font-1;
  &::placeholder {
    font-family: $font-1;
  }
  border: none;
  background: none;
  padding: 0;
  &:focus {
    box-shadow: 0 3px 5px $color-1;
  }
  .is-submitted &:invalid {
    box-shadow: 0 3px 5px $color-error;
    + .form-error-msg {
      visibility: visible;
    }
  }
}

button {
  border: none;
  background: none;
  padding: 0;
}
button:disabled,
button[disabled] {
  opacity: 0.65;
  background-color: $color-3;
  cursor: not-allowed;
  &:hover {
    transform: scale(0.9);
    background-color: $color-3;
  }
}

.hide-mob {
  display: none;
  @media (min-width: $bpoint-desk) {
    display: unset;
  }
}
